# name: CI pipeline1

# on:
#   push:
#     branches: ["main"]
#   pull_request:
#     branches: ["main"]

# jobs:
#   test:
#     runs-on: ubuntu-latest

#     steps:
#     - name: Checkout code
#       uses: actions/checkout@v4

#     - name: Setup Python
#       uses: actions/setup-python@v5
#       with:
#         python-version: "3.10"

#     - name: Install dependencies
#       run: |
#         python -m pip install --upgrade pip
#         pip install -r requirements.txt

#     - name: Run tests
#       run: pytest
#     - name: Build Artifacts
#       run: |
#         mkdir build
#         cp app1.py requirements.txt build/
#         tar -czf app1.tar.gz build/
#     - name: upload Artifacts
#       uses: actions/upload-artifact@v4
#       with:
#         name: app1-artifact
#         path: app.tar.gz
# name: CI pipeline1

# on:
#   push:
#     branches: ["main"]
#   pull_request:
#     branches: ["main"]

# jobs:
#   test:
#     runs-on: ubuntu-latest

#     steps:
#     - name: Checkout code
#       uses: actions/checkout@v4

#     - name: Setup Python
#       uses: actions/setup-python@v5
#       with:
#         python-version: "3.10"

#     - name: Install dependencies
#       run: |
#         python -m pip install --upgrade pip
#         pip install -r requirements.txt

#     - name: Run tests
#       run: pytest

#     - name: Build artifacts
#       run: |
#         mkdir build
#         cp app1.py requirements.txt build/
#         tar -czf app1.tar.gz build/

#     - name: Upload artifacts
#       uses: actions/upload-artifact@v4
#       with:
#         name: app1-artifact
#         path: app1.tar.gz
name: CI-CD pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:

  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests
      run: pytest


  package:
    runs-on: ubuntu-latest
    needs: test

    steps:
    - uses: actions/checkout@v4

    - name: Build artifact
      run: |
        mkdir build
        cp app1.py requirements.txt build/
        tar -czf app1.tar.gz build/

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: app1-artifact
        path: app1.tar.gz


  deploy-dev:
    runs-on: ubuntu-latest
    needs: package
    environment: dev

    steps:
    - uses: actions/download-artifact@v4
      with:
        name: app1-artifact

    - name: Deploy to DEV
      run: |
        echo "Deploying to DEV"
        mkdir dev-release
        tar -xzf app1.tar.gz -C dev-release


  deploy-prod:
    runs-on: ubuntu-latest
    needs: deploy-dev
    environment: prod

    steps:
    - uses: actions/download-artifact@v4
      with:
        name: app1-artifact

    - name: Deploy to PROD
      run: |
        echo "Deploying to PROD"
        mkdir prod-release
        tar -xzf app1.tar.gz -C prod-release
    
